.user_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_user{
  border-radius: 50%;
  width: 25%;
  border: 4px solid white;
  transition: border-color 0.3s;
}
@keyframes pulseGreen {
  0% {
    border-color: lightgreen;
    box-shadow: 0 0 5px lightgreen;
  }
  50% {
    border-color: green;
    box-shadow: 0 0 10px green;
  }
  100% {
    border-color: lightgreen;
    box-shadow: 0 0 5px lightgreen;
  }
}
.img_user.offline {
  border-color: white;
}
.img_user.online {
  border-color: green;
  animation: pulseGreen 1.5s infinite;
}
.name_user{
  font-size: 17px;
  font-weight: bold;
}
.user_contact{
  margin-top: 20px;
  display: flex;
  background-color: rgba(255,255,255,0.5);
  padding: 15px;
  border-radius: 10px;
  color:red;
}
.delete_contact{
  margin-left: 10px;
}